{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container-md mt-5">
    <div class="jumbotron bg-primary text-light text-center">
        <h2>Bienvenue sur votre espace membre</h2>
        <p>C'est ici que vous pouvez modifier vos informations</p>
        <div class="center">
            <a class="btn btn-light" href="{{path('account_password')}}">Modifier mot de passe</a>
        </div>
    </div>
</div>
{% endblock %}
