{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        <div class="jumbotron bg-primary text-light text-center">
            <h2>Modifier votre mot de passe</h2>
            <p>C'est ici que vous pouvez modifier votre mot de passe</p>
        </div>
        <section>
            {{ form(updatePasswordForm)}}
        </section>
    </div>
{% endblock %}
