<footer class="mt-5 border-top border-light">
    <div class="center my-5 py-5">
        <div>
            <a href="#" class="h3 text-primary">Instep Blog</a>
        </div>
        <div>
            <ul class="nav center mr-auto ml-5 mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>