<header>
    {% include '/partials/navigation.html.twig' %}
    <section id="hero-section" class="center">
        <div>
            <div class="center my-5 mx-5">
                <p class="px-5 text-center h4 mx-5 text-light text-lg">Bienvenue sur le Blog de l'Instep on y partage tout ce que je fais sur la tech,<br/> ce que je découvre ou ce que j'apprécie dans cet univers passionnant</p>
            </div>
            <div class="center my-5">
                <a href="#" class="btn btn-lg btn-outline-light">Get in touch</a>
            </div>
        </div>
    </section>
</header>