{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur Instep-Blog</h1>
    {% for lastArticles in articles %}
    {# <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ lastArticles.illustration}}" alt="{{ lastArticles.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ lastArticles.title }}</h5>
        <p class="card-text">{{ lastArticles.content }}</p>
        <a href="" class="btn btn-primary">Voir tous les articles</a>
      </div>
  </div> #}
    {% endfor %}
{% endblock %}
