{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Ajout d'article{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        <h2>Ajout d'article</h2>
        <section>
            {{ form(articleForm) }}
        </section>
    </div>
{% endblock %}